.color {
    background-color: #FFF5E4;
    background-color: #FFC4C4;
    background-color: #EE6983;
    background-color: #850E35;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: #FFF5E4;
    margin : 0px;
}
body {
    background-color: #850E35;

}
.parent {
    background-image: url("image/free-space-study-table-white-desk-with-keyboard-pc-coffee-mug-white-background-top-view_67155-16199.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #850E35;
    width: 100%;
    height: 100vh;
    padding-top:150px ;
}
.parent h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.register {
    margin: auto;
    background-color: #850E35;
    width: 75%;
    padding: 4%;
    border-radius: 5%;
    border: 2px solid #FFF5E4;

}
.text {
    margin-bottom: 20px;
    padding: 10px 0px 10px 5px;
    width: 100%;
    background-color: #FFC4C4;
    color: #850E35;
    border-radius: 15px;
    border: none;
}
.text:focus {
    outline: none;
}
.text:hover{
    margin-bottom: 20px;
    padding: 10px 0px 10px 5px;
    width: 100%;
    background-color: #FFC4C4;
    color: #850E35;
    border-radius: 15px;
    border: 1px solid #FFF5E4;
    outline: none;
}
 .button {
    background-color: #EE6983;
        width: 100%;
        padding: 10px 0px 10px 5px;
        border-radius: 15px;
        color: #850E35;
        border: none;
        margin-bottom: 20px;

}
.button:hover{
    background-color: #EE6983;
    width: 100%;
    border-radius: 15px;
    padding: 10px 0px 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #FFF5E4;
    color: #FFF5E4;
    font-weight: bolder;
}
.register p,.register h2 {
    width: fit-content;
}
.register h2 {
        margin-bottom: 20px;
}
.register p {
        margin-bottom: 10px;
}
.register p a:hover {
    color: #EE6983;
    font-weight: bolder;

}