* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin : 0px;
    background-color: #FFC4C4;
}
.color {
    background-color: #FFF5E4;
    background-color: #FFC4C4;
    background-color: #EE6983;
    background-color: #850E35;
}
h1{
    text-align: center;
    margin: 30px 0px;
    color: #850E35;
}
table {
    margin: 0px auto;
    border: none;
    max-width: 300px;
}
.thead td {
    border: none;
    color: #850E35;
        padding: 10px;
    text-align: center;
    font-weight: bolder;
}
h2 {
    text-align: center;
    color: #850E35;
}
.late .task {
     border-radius: 10%;
    background-color: #850E35;
    border: none;
    color: #FFF5E4;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
